<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body style=" 
  /* background black color */
    background-color: #000000;
    /* text white */
    color: #ffffff;
  
  "
  >
    <%- include('../partials/navbar') %>
    <h1 class="text-center mt-5"> <%= message %> to your home page</h1>
    <!-- add image -->
    <img src="https://cdn.w600.comps.canstockphoto.com/admin-stamp-drawing_csp19822598.jpg" alt="image">

  </body>
</html>